
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(85, 245, 245);
}

.contenedor-principal{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.seccion-izquierda{
    grid-column: span 2;
    height: 100%;
    background-color: rgb(58, 93, 220);
}

.seccion-derecha{
    grid-column: span 5;
    height: 100%;
    background-color: rgb(253, 253, 255);
}

.contenedor-izquierdo{
    padding: 1rem 1.5rem;
}

.perfil{
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 224);
}

.imagen{
    width: 100%;
    text-align: center;
}

.perfil img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid rgb(3, 124, 124);
}

.nombre{
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;    
}

.carrera{
    font-size: 1.1rem;
    color: rgb(85, 245, 245);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.titulo-principal{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: whitesmoke;
    padding-top: 3rem;
}

.info-cont ul{
    padding-top: 2rem;
}

.info-cont ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #4aef3b;
}

.info-cont ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: rgb(228, 228, 240);
}

.seccion-skills ul{
    padding-top: 2rem;
}

.seccion-skills ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.barra-progreso{
    width: 100%;
    height: .4rem;
    background-color:whitesmoke;
    position: relative;
    border-radius: 12px;

}

.progreso{
    height: 100%;
    position: absolute;
    left: 0;
    background-color:#4aef3b;
    border-radius: 12px;
}

.js-progreso{
    width: 70%;
}

.css-progreso{
    width: 90%;
}

.html-progreso{
    width: 95%;
}

.java-progreso{
    width: 60%;
}

.nodejs-progreso{
    width: 50%;
}

.mysql-progreso{
    width: 75%;
}

.idioma-progreso{
    width: 95%;
}

.titulo-skill{
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1rem;
}

.subtitulo{
    padding-top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.sub-parrafo{
    color: aliceblue;
    padding: .4rem 0;
}

.seccion-referencias li{
    color: aliceblue;
    padding: .2rem 0;
}

.seccion-referencias li i{
    padding-right: .5rem;
    font-size: 1.2rem;
    color: rgb(228, 228, 240);
}

.contenido-principal-derecho{
    padding: 2rem 3rem;
}

.titulo-derecho{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: blueviolet;
    margin-bottom: 1.2rem;
    position: relative;
}

.titulo-derecho::after{
    content: "";
    position: absolute;
    width: 50%;
    height: .2rem;
    background-color: brown;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.parr{
    letter-spacing: 1px;
    line-height: 1.6rem;
    color: grey;
    font-size: 1.1rem;
}

.secc{
    padding-bottom: 2rem;
}

.cronologia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.titulo-crono{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
}

.titulo-crono-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: rgb(8, 4, 252);
    text-transform: uppercase;
    
}

.cont-crono{
    border-left: 1px solid wheat;
    position: relative;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.titulo-crono-2::before{
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: rgb(8, 4, 252);
    border-radius: 50%;
    left: 0;
    transform: translateX(-50%);    
}

/*Media Querries*/
@media screen and (max-width:833px){
    .titulo-derecho::after{
        width: 40%;
    }
}

@media screen and (max-width:720px){
    .titulo-derecho::after{
        width: 30%;
    }
}

@media screen and (max-width:780px){
    .cronologia{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px){
    .seccion-izquierda{
        grid-column: span 3;
    }
    .seccion-derecha{
        grid-column: span 4;
    }
}

@media screen and (max-width:1200px){
  .contenedor-principal{
    grid-template-columns: repeat(1, 1fr);
  }
  .perfil img{
    width: 40%;
  }
}

@media screen and (max-width:700px){
    .perfil img{
      width: 60%;
    }
  }

  @media screen and (max-width:453px){
    .nombre{
      font-size: 1.5rem;
    }
  }